/* --------------
-----Fonts -----*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins:wght@500;600;700&display=swap');


/* comon style or utilites */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 46px;
    
}

/* Header aria design */

header{
    width: 85vw;
    margin-top: 30px;
    margin-bottom: 50px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding: 10px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}



/* Main aria Design */
main{
    width: 80vw;
}
.banner{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-column-gap: 5%;
    align-items: center;
    margin-bottom: 100px;
    
    }
.banner-text-aria{
    position: relative;
    animation-name: move-1;
    animation-duration: 3s;
}
@keyframes move-1 {
    0%   {right:800px; top:0px;}
    100% {right:0px; top:0px;}
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #E02C6D;
    color: white;
    border-radius: 50px;
    line-height: 4.5em;      
}

.button:hover{
    transition: box-shadow .2s;
    box-shadow: 0 10px 20px black;
}
.banner-image-aria{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-name: move-2;
    animation-duration: 3s;
}
@keyframes move-2 {
    0%   {left: 800px; top:0px;}
    100% {left: 0px; top:0px;}
}
.banner-image-aria img{
    width: 100%;
}
.cards-section h2{
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.price-cards-aria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.price-card{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 5px #AAAAAA;
}
.price-card img{
    width: 100%;
}
.price-card h3{
    margin: 5px 0;
    font-size: 24px;
    font-weight: 500;
}
.price-card h4{
    font-family: 'Lobster', cursive;
    margin: 5px 0;
}
.filled{
    color: #F4531C;
}
.half-filled{
    color: #F4531C;
}
.more-card-button{
    display: block;
    text-align: right;
    padding: 20px 5px;
}
.more-card-button a{
    text-decoration: none;
    color: #F4531C;
    font-size: 16px;
    font-weight: 700;
}


/* Footer aria  */


footer{
    padding: 0;
}
.footer-copyright {
    background-color: black;
    text-align: center;
    margin-top: 50px;
    padding: 40px 0;
    color: white;
}
.footer-copyright h4{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}
.social-icon{
    display: flex;
    justify-content: center;
}
.social-icon a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    padding: 0 10px;
}

/* support section design */
.support{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.support-text{
    flex: 1;
    text-align: center;
}
.form{
    flex: 1;
    display: flex;
    justify-content: center;
}
.support-form{
    display: flex;
    flex-direction: column;
    

}
.support-form input, button{
    font-size: 1.3rem;
    margin-top: 15px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
}
#form-comment{
    padding-bottom: 50px ;
}
.submit-button{
    background-color: #F4531C;
    color: white;
    border: none;
    cursor: pointer;
}

/* ------------------
--Responsive Style---
--------------------- */

/* Dekstop Devices */
@media only screen and (min-width:992){

}

/* Tablate Device */
@media only screen and (min-width: 768px) and (max-width: 991.5px){
    .price-cards-aria{
        grid-template-columns: repeat(2, 1fr);
        
    }
    h1{
        font-size: 36px;
        
    }
}

/* Mobile Device */
@media only screen and (max-width: 767.5px){
    .navbar ul{
        display: none;
    }
    .banner{
        grid-template-columns: 1fr;
        text-align: center;
    }
    h1{
        font-size: 26px;
        
    }
    .price-cards-aria{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .support{
        flex-direction: column;
    }
    .support-text h2{
        margin: 20px 0;
    }
}